* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar{
  /* width: 1680px; */
  height: 68px;
  flex-shrink: 0;
  background: #765C3D !important;
}

.navbar_font{
  color: #F2D2AE;
  text-align: center;
  /* font-family: Montserrat; */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.logo_img{
  margin: 12px 0 12px 96.2px;

}
.nav_margin{
  margin-right: 122.5px;
}

#landing-page{
  background-image: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(https://s3-alpha-sig.figma.com/img/54e4/0b6c/356d619ffd92acdddd704f4b924e8275?Expires=1692576000&Signature=GM7TrDXfuzRfwL4pwejvbKNb-dqyyo46xGbsG4tS4VslP2rn6saWyCE301pNxZ5dgYdKM2Em79jO3c-Ris7tEYbUlkMQPp9YGObl8L3dL-~rv34B6HV013y1LXtFVzFGoXPfqzPj1ITHRZ31FuqGFZazB-8fY9~~FFh4am8fAOG6i-jbgbJAUqg9YuhmEP2dSDyVsbDceykuC1SFS2ZvSZn5i0Ha~HLHeXUBMMlDN0eANofGMzv0hhdo4ErZX0Unzwgkl0FsSueXrvj~eh5lrNCVz2~SB7WGfYNtWs4XE7qFhKFPPT1SaAsFjYfaPxcKzCu7KW3gFjxIT3PoP1QP6w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  
}

.landing-layout{ 
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
}

.first{
  display: flex !important;
  width: 493px !important;
  height: 124px !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
  flex-shrink: 0 !important;
  color: #FFF !important;
  font-size: 64px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 72px !important; /* 112.5% */
  letter-spacing: -1.28px !important;
}
.second{
  width: 413px!important;
  height: 124px!important;
  flex-shrink: 0!important;
  color: #FFF!important;
  font-size: 24px!important;
  font-style: normal!important;
  font-weight: 400 !important;
  line-height: 30px !important;
  margin-top: 32px;
}

.btn-1{
  display: inline-flex !important;
  align-items: flex-start !important;
  border-radius: 999px !important;
  background: #B59066 !important; 
  color: #fff !important;
  /* display: flex; */
  padding: 12px 32px 12px 32px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
  color: var(--button-text-button-primary-text, #FFF) !important;
  text-align: center !important;
  /* font-family: Montserrat; */
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  text-decoration: none !important;
  margin-top: 35;
}

.gal-header{
  color: #765C3D;
  text-align: center !important;
  font-size: 40px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  margin-top: 167px;
}

.gal-p{
  color: #765C3D;
  text-align: center;
  /* font-family: Montserrat; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 31px;
}

.card{
  width: 1245px!important;
  height: 764px!important;
  flex-shrink: 0!important;
  background: #FFF;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}
.card-title{
  color: #765C3D;
  /* font-family: Montserrat; */
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 65px 0 0 131px;
}
.card-text{
  color: #765C3D;
  /* font-family: Montserrat; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 31px 0 0 131px;
  }
/* 
.carousel_new{
  width: 830px;
  height: 401px;
  flex-shrink: 0;
} */
