.img-float{
	width: 250px;
	height: 250px;
	/* The float property can be set either to the left or right. 
	This will depend on the content or the sibling of the element you are selecting	*/
	float: right;
	z-index: 1;
}
.parent-element {
	background-color: skyblue;
	padding: 10px;
	/* if the parent element has position: relative, then any children that 
	have position:absolute will have their position based on the parent instead of 
	the whole page itself	*/
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	/* Static - default positioning of any element. you cannot modify it 
	using top left bottom right properties	*/
	/* Relative - this is the opposite of the static, you can modify the top, left, bottom, right proerties to 
	define the exact position of the element based on the parent element.	*/
	/* Absolute - instead of depending on the parent element, it depends on the 
	whole page itself. And you can still modify its exact position using top left bottom 
	right properties.	*/

	/*position: absolute;
	left: 10px;
	bottom: 10px;*/

	position: sticky;
	top: 10px;
}

.child-three {
	background-color: indianred;
	padding: 10px;
}

/* to emulate a long scrolling page */
html {
	height: 800vh;
}