* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", sans-serif;
}

.text-center {
	text-align: center;
}

.h-25 {
	height: 25%;
}
.p-3 {
	padding: 15px;
}
.bg-secondary {
	background-color: gray;
}

.bg-success {
	background-color: forestgreen;
}

.bg-warning {
	background-color: yellow;
}

.bg-danger {
	background-color: darkred;
}

.d-flex {
	display: flex;
}
/* Hindi sila gagana pag hindi naka flex yung container. without d-flex */

/*Horizontally align the content*/
.justify-content-center {
	justify-content: center;
}



/*Vertically align the content*/
.align-items-center {
	align-items: center;

}

/*it will stack the content, column like.*/
.flex-column {
	flex-direction: column;
}

/*it will reverse the content, item abc --> cba*/
.flex-column-reverse {
	flex-direction: column-reverse;
}